body{
  background-color:#00547c;
}

.container-one{
  float:left;
  margin-top: 30px;
margin-left:10px;
}






.cointainer-two{
  display:none;
  float: left;
  margin-bottom: 200px;
  margin-left:50px;
}


.exercise-colum{
    margin-bottom:13px;
    margin-top:50px;


}

.E{
  width: 70px;
  height: 70px;
  color: white;
  background: #E65000;
  font-size:30px;
  margin-bottom:13px;


}

.E:hover{
  color:#003249;
}




.cointainer-three{
  display:none;
  float: left;
  margin-bottom: 320px;
  margin-left:50px;



}



.project-column{

  position:absolute;
  margin-top: 100px;
  margin-bottom: 300px;

}

.P{
  width: 200px;
  height: 90px;
  background: #E65000;
  font-size:30px;
  padding-bottom:10px;


}
.P:hover{
  color:#003249;
}






    .toggle1{
      background-color: #003249;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 0 0 20px 0;
        width: 250px;
        height: 250px;
        border-radius: 15px 15px 15px 15px;
        display:block;


    }


    .toggle2{
      background-color: #003249;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 0 0 20px 0;
        width: 250px;
        height: 250px;
        border-radius: 15px 15px 15px 15px;
        display:block;


    }

    .toggle3{
      background-color: #003249;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 0 0 20px 0;
        width: 250px;
        height: 250px;
        border-radius: 15px 15px 15px 15px;
        display:block;


    }


button{

  color: white;
  background: #E65000;
  transition: all 0.8s


}


    .button:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }



    button:focus {outline:0;}​


/*.EContent{
  display:flex;
  flex-direction:column;
  flex-flow: column-reverse;
  position:absolute;
  margin-left:400px;
  align-self:flex-end;
}*/

#EContent{
  margin-bottom: 320px;
  margin-right: 0;


}



.E-About{
  display:none;
  position: relative;

  width: 900px;
  height: 350px;
  margin: 20px 0;
  float: right;
  background: #D26707;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}

#e1{
  display:none;
}
#e2{
  display:none;
}
#e3{
  display:none;
}
#e4{
  display:none;
}
#e5{
  display:none;
}
/*.E-About:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}*/

.P-About{
  display:none;
  position: relative;

  width: 500px;
  height: 150px;
  margin: 20px 0;
  float: right;
  background: #D26707;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}
#Poem{
  display:none;
}
#Mircosite{
  display:none;
}
#Catalog{
  display:none;
}


.link{
  width: 150px;
	height: 50px;
	background: #086C7F;
  text-decoration: none;
  text-decoration-style: none;
  margin-top:12px;


}


a{
  text-decoration-style: none;
  text-decoration:none;
  color: white;
}
a:link{
  text-decoration-style: none;
  text-decoration:none;
}
