body{
  background-color:#00547c;
}


.container-one{
display: flex; /* or inline-flex */
flex-direction: column;
}

.fixed-size{
  font-size:30px;

}

.fixed-size:hover{
  color:#F05400;
}

.cointainer-two{
  max-width: 1400px;
  padding: 5px 0;
  margin: 40px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}







    .toggle1{
      background-color: #003249;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        width: 250px;
        height: 250px;
        border-radius: 15px 15px 15px 15px;


    }


    .toggle2{
      width: 120px;
      height: 120px;
      background: #003249;
      font-size: 12px;
      margin-left: 40px;
      margin-top:auto;
      text-align: center;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;


    }



    .button:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }



    button:focus {outline:0;}​
