body{
  background-color:#00547c;
}


.container-one{
display: flex; /* or inline-flex */
flex-direction: column;
flex-wrap:wrap;
}

.fixed-size{
  font-size:30px;

}

.fixed-size:hover{
  color:#;
}

.column-excerise-cointainer{
  margin-left: 130px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}







    .toggle1{
      background-color: #003249;
        border: none;
        color: white;

        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        width: 200px;
        height: 200px;
        border-radius: 15px 15px 15px 15px;


    }


    button:focus {outline:0;}​



    .E{
      width: 50px;
      height: 50px;
      background: #003249;
      text-align: center;
      font-size: 12px;
      display: flex;
      margin-left:120px;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-left: 120px;

    }
