p{
    padding:14px;
    float:left;
    display:block;
    width:13px
}

ul{
    padding-bottom:14px;
    padding:13px;
    float:left;
    margin:14px;
}

li{
    height:40px;
    position:static;
}
div{
    float:left;
    display:inline-block;
    padding:1.5px;
    border:1px;
}