body{
  background-color:#00547c;
}




.About{

  width: 100px;
  height: 100px;
  background: #;

}


.row-exercise{

  width: 100px;
  height: 100px;
  background: #003249;
  border-radius: 15px 15px 15px 15px;


}


.row-project{

  width: 100px;
  height: 100px;
  background: #003249;
  border-radius: 15px 15px 15px 15px;

}


.E1{
  width: 100px;
  height: 100px;
  background: #003249;
  margin-left:400;

}


.E2{
  width: 100px;
  height: 100px;
  background: #003249;
  margin-left:400;

}
