.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}


@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}


.row-start-xs{
  background-color:blue;
}

.col-xs-6{
  background-color:red;
  padding-left: 13px;
  border-top-left-radius: 30px;
border-top-right-radius: 14px;
}
