body{
  background-color:#2F3554;
}

ul{
  list-style: none;
}

h2{
  color: #8B181B;
}
h2:hover{
    color:#808287;
}
a{
    color:#808287;
}
a:hover{
  color:#EFBE00;
  border-radius:13px;

}

.one {
	opacity: 0;
}

.one:hover ~ .o, .o:hover {
	opacity: 1;
}





.Level-2{
  border-bottom: 1px solid black;
  padding: 20px;
  cursor: pointer;
}

.Level-2:hover{
  color:white;
  background: #0292F0;
  border-radius:20px;
}
.content{
  padding:20px;
  display:none;
  border-bottom:1px solid black;
  background-color: black;

}

.HomePage, a{
  margin-bottom:100px;
  border-color:#742127;
  color:#AA1A1A;
  background-color:#1C253F;

}
