body {

    height: 2000px;
}

div {
    width: 250px;
    height: 150px;
    border: .5px solid;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;

}

.relative {
    width: 250px;
    height: 150px;
    position: relative;
    left: 10px;
    top: 20px;
}

.absolute {
    width: 250px;
    height: 150px;
    position: absolute;
    top: 300px;
    left: 300px;

}

.fixed {
    width: 250px;
    height: 150px;
    position: fixed;
    top: 100px;
    left: 300px;
    font-weight: bold;

}

.float {
    width: 250px;
    height: 150px;
    float: left;
    margin-top: 0;
    margin-right: 0;
}


.clear {
    width: 250px;
    height: 150px;
    position: relative;
    clear: both;
    margin-top: 0;
    margin-right: 0;
}

.parent {
    width: 250px;
    height: 250px;
    position: relative;
}


.child {
     width: 140px;
    height: 100px;
}
