body{
 background-color:#008373;
}

.hexagon-wrapper {

  text-align: center;
  margin: 20px;
  position: relative;
  display: inline-block;

}


.hexagon{
  width: 1000px;
  	height: 550px;
  	background: #2BB673;
  	position: relative;
    text-align:justify;
    border-style:solid #1A6665;


}
.hexagon:before {
	content: "";
	position: absolute;
	top: -250px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
	border-bottom: 250px solid #1A6665;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -250px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
	border-top: 250px solid #1A6665;
}

p{
  font-size:24px;
  font-weight:100;
  font-size-adjust:auto;
  text-align:justify;
  text-indent:inherit;
}
button{

}
