body{
 background-color:#008373;
   background-image: url(Dryad-Abstracts-04.svg), none;
   background-attachment:scroll;
   background-position:right;

}

#containter{
  position: absolute;
  padding-bottom:13px;
   left: 0;

}

.rect1{
  border-radius: 15px 50px 30px 5px;
     background: #01433F;
     padding: 20px;
     width: 150px;
     height: 40px;
    text-align:justify;
    margin-top: 40px;
    margin-left: 560px;



}

.rect1:hover{
  position: fixed;
}

.rect2{
  border-radius: 30px 5px 15px 50px ;
     background: #01433F;
     padding: 20px;
     width: 150px;
     height: 40px;
     text-align:justify;
     margin-top: 50px;
     margin-left: 400px;
}

.rect3{
  border-radius: 15px 50px 30px 5px;
  border-right:12px;
     background: #01433F;
     padding: 20px;
     width: 150px;
     height: 40px;
      text-align:justify;
    margin-top: 30px;
    margin-left: 600px;
}

.rect4{
  border-radius: 30px 50px 15px 50px;
     background: #01433F;
     padding: 20px;
     width: 150px;
     height: 40px;
    text-align:justify;
    margin-top: 30px;
      margin-left: 400px;
}

h1{
  color:#B9FC4F;
  font-family:fantasy;
  font-style:normal;
  letter-spacing:5px;
  font-size: 30px;

}

ul{

  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;

}

#About{
   list-style-position: inside;
   padding-bottom: 14px;
   color:#2BB673;
   height:12px;
   width:130px;
   font-size:30px;
   font-weight: bold;

}

#Event{
   list-style-position: inside;
   padding-bottom: 14px;
   color:#2BB673;
   height:120px;
   width:130px;
   font-size:30px;
    font-weight: bold;

}

#Contact{
   list-style-position: inside;
   padding-bottom: 14px;
   color:#2BB673;
   height:12px;
   width:130px;
   font-size:30px;
    font-weight: bold;


}

#Help{
  list-style-position: inside;
  color:#2BB673;
  height:5px;
  margin-bottom:40px;
  font-size:20px;
   font-weight: bold;
}

li a {
    display: block;
    width: 60px;
    color:#2BB673;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    color: #B9FC4F;
}


.Show{
    border-bottom: 1px solid black;
    padding: 20px;
    cursor: pointer;
}

.Show:hover {
    background: yellow;
}

.content {
    padding: 20px;
    display: none;
    border-bottom: 1px solid black;
}








.AbstractDryad{
  image-orientation:;
  image-resolution: from-image;
}

img {

    max-width: 100%;
    height: auto;
    image-orientation: right;
}
#Protest{
  image-orientation:center;
  

}

#Board{
  text-align:center;
}
