body{
background:#354465;
}
ul{
  list-style: none;
}

h3{
  color:790009;
}


a{
  color:#808287;
}
a:hover{
  color:#EFBE00;
  border-radius:13px;
}
button{
  outline:none;
}

  .Level-1{
    border-bottom: 1px solid black;
    padding: 20px;
    cursor: pointer;
  }

  .Level-1:hover{
    color:white;
    background: #0292F0;
  }
  .content{
    padding:20px;
    display:none;
    border-bottom:1px solid black;
    background-color: black;

  }

.one{
  	opacity: 0;

}
.one:hover{
  opacity: 1;
}
.HomePage, a{
  margin-bottom:100px;
  border-color:#742127;
  color:#AA1A1A;
  background-color:#1C253F;

}
